body, html{
	margin: 0;
    padding: 0;
    background-color: #fff;
    color: #444452;
    font-family: Apercu,Source Sans Pro,Helvetica,Arial,sans-serif;
    line-height: 1.5;
    display: block;
}

h1 h2 h3 p div{
	display: block;
}

body a, html a {
    text-decoration: none;
    font-weight: 900;
    color: #36363c;
    transition: all .25s ease-in-out;
    font-family: Trebuchet MS;

}

body p, html p {
    font-weight: 200;
}
body a:hover{
    text-decoration: underline blue;
}


body .emoji, html .emoji {
    display: inline-block;
    vertical-align: text-top;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    }

section{
    padding: 120px 60px;
    display: flex;
    justify-content: space-around;
    max-width: 1440px;
    margin: 0 auto;
    

}


.switch-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 30px;
}

.switch-wrapper .sun {
    background: url(white_sun_with_rays.png) no-repeat center;
    background-size: 100%;
}

.switch-wrapper .moon, .switch-wrapper .sun {
    width: 17px;
    height: 17px;
}

.switch-wrapper .toggle-wrapper {
    margin: 10px;
}

.switch-wrapper .toggle-wrapper #switch {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
}

.switch-wrapper .toggle-wrapper input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

.switch-wrapper .toggle-wrapper label {
    cursor: pointer;
    text-indent: -9999px;
    width: 45px;
    height: 25px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

.switch-wrapper .toggle-wrapper label:after {
    content: '';
    position: absolute;
    left: 2px;
    top :1px;
    width: 20px;
    height: 22px;
    background: #fff;
    border-radius: 40px;
    transition: 0.3s;
}

.switch-wrapper .toggle-wrapper input:checked + label {
    background: #bada55;
}

.switch-wrapper .toggle-wrapper input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.switch-wrapper .toggle-wrapper label:active:after {
    width: 0px;
}

.switch-wrapper .moon {
    background: url(moon.png) no-repeat center;
    background-size: 100%;
}


.intro{
	padding: 120px 100px;
    height: 75vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    max-width: 1440px;
    margin: 0 auto;
}   
}

.intro_hello{
	font-weight: 300;
    font-size: 2.5rem;
}


.intro_hello .wave-hand.animated{
    position: relative;
    animation: wave 2.0s linear;
}

.intro_hello .wave-hand.animated:hover {
    position: relative;
    animation: wave 2.0s linear;
}

.intro_hello .wave-hand{
	background-image: url(waving-hand.png);
	margin-left: 10px;
	cursor: pointer;
    position: relative;
}

.intro_hello .emoji{
	width: 40px;
	height: 40px;
}

.intro_tagline {
    font-weight: 300;
    max-width: 700px;
    font-size: 2.5rem;
}


.intro__tagline .name{
	font-weight: 700;
}

.intro_tagline .technologist{
	background-image: url(male-technologist.png);
}

.intro_tagline .emoji{
	width: 40px;
	height: 40px;
}

.intro_contact {
    font-size: 1.25rem;
    font-weight: 100;
}

.intro_contact .emoji.pointer {
    background-image: url(right-pointing.png);
    width: 30px;
    height: 30px;
    margin: 0 5px;
    vertical-align: text-bottom;
}

.intro_contact .highlight-link {
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    padding: 2px 3px;
    transition: all .2s ease-in-out;
    text-decoration: none;
    box-shadow: inset 0 -3px 0 #007bff;
}

.intro_contact .highlight-link:hover {
    box-shadow: inset 0 -33px 0 0 #007bff;
    color: #fff;
}



.status {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.1rem;
    font-family: Inconsolata,monospace;
    margin-top: 70px;
    color: #131417;
}

.status_light {
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.status_light_ring {
    position: absolute;
    width: 25px;
    height: 25px;
    -webkit-animation: pulsate 2s ease-out;
    animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 0;
    border: 3px solid #bada55;
    border-radius: 30px;
}

.status_light_led {
    position: absolute;
    width: 13px;
    height: 13px;
    background: #bada55;
    border-radius: 100%;
}
.status_message {
    margin-left: 15px;
}

.section .background{
    visibility: visible;  
    -webkit-transform: translateY(0) scale(1); 
    opacity: 1;
    transform: translateY(0) scale(1); 
    opacity: 1;
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(.694,0,.335,1) 0s, 
    opacity 0.6s cubic-bezier(.694,0,.335,1) 0s; 
    transition: transform 0.6s cubic-bezier(.694,0,.335,1) 0s, 
    opacity 0.6s cubic-bezier(.694,0,.335,1) 0s;
}

body .section_title, html .section_title {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 200px;
    margin-right: 70px;
    color: #007bff;
    text-transform: uppercase;
    text-align: right;
    font-weight: 700;
    letter-spacing: 2px;
}

body .section_content, html .section_content {
    font-weight: 300;
    font-size: 1rem;
    width: 100%;
    max-width: 650px;
}

body .section_content p, html .section_content p {
    margin-top: 0;
    margin-bottom: 25px;
}

body .section_content .underline-link, html .section_content .underline-link {
    position: relative;
    display: inline-block;
}


.skills .skillz {
    display: flex;
    justify-content: space-between;
}

.skills .skillz_category_label {
    font-weight: 800;
    color: #36363c;
    text-transform: uppercase;
}

.skills .skillz_category_item {
    margin: 3px 0;
    font-size: .9rem;
}

.experience .jobs {
    margin-bottom: 100px;
}

.experience .job {
    margin-bottom: 25px;
}
.experience .job .time-place {

    display: flex;
    justify-content: space-between;
}

 a.experience .job .job_company {
    font-weight: 500;

}

.experience .job_time {
    font-size: .9rem;
    font-family: Inconsolata,monospace;
}

.experience .job_position{
    font-weight: 300;

}

.experience .arrow-link {
    font-size: 1.25rem;
    font-weight: 500;
}

/*.experience .arrow-link:hover{

    box-shadow: inset 0 -55px 0 0;

}*/

.experience .arrow-link:after {
    width: 20px;
    height: 20px;
}
body .arrow-link, html .arrow-link {
    font-weight: 700;
    display: inline-block;
    transition: all .15s ease-in-out;
    background-color: transparent;
    white-space: nowrap;

}
body .arrow-link:after, html .arrow-link:after {
    position: relative;
    bottom: 2px;
    margin-left: 15px;
    content: "";
    background: url(arrow.png) no-repeat center;
    background-size: 100%;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;

}

body .arrow-link:hover, html .arrow-link:hover {
    transform: translateX(7px);
}
body ul, html ul {
    list-style: none;
    padding: 0;
}

.footer {
    padding: 50px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_copyright {
    font-weight: 0.700;
    width: 200px;
}

.footer_copyright .emoji{
    width: 20px;
    height: 20px;
}
.footer_links a {
    position: relative;
    display: inline-block;
    color: #007bff!important;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 15px;
    outline: 0;
}
.footer_links a .text {
    font-size: .9rem;
    display: inline;
    letter-spacing: 1px;
}

.footer_links a:hover{

    text-decoration: underline;
}

body #top-button, html #top-button {
    background: 0 0;
    border: none;
    outline: 0;
    width: 40px;
    position: fixed;
    bottom: 25px;
    right: 10px;
    cursor: pointer;
    display: none;
    -webkit-animation: fadeinout 10s linear;
    animation: fadeinout 10s linear;

}

body #top-button img, html #top-button img {
    width: 100%;
}

 .other-projects {
    visibility: visible;  
    -webkit-transform:translateY(0) scale(1); 
    opacity: 1;
    transform: translateY(0) scale(1); 
    opacity: 1;
    -webkit-transition: -webkit-transform 0.6s 
    cubic-bezier(.694,0,.335,1) 0s, 
    opacity 0.6s 
    cubic-bezier(.694,0,.335,1) 0s; 
    transition: transform 0.6s 
    cubic-bezier(.694,0,.335,1) 0s, 
    opacity 0.6s 
    cubic-bezier(.694,0,.335,1) 0s; 
}


.other-projects .project {
    max-width: 600px;
    margin-bottom: 50px;
}

.other-projects .project_name {
    margin-bottom: 10px;
}

.other-projects .project p {
    font-size: .9rem;
    margin-bottom: 20px;
}


.other-projects .project_used_item:first-of-type {
    margin-left: 0;
}

.other-projects .project_used_item {
    display: inline-block;
    margin: 3px 3px 3px 0;
    font-family: Inconsolata,monospace;
    font-size: .75rem;
    font-weight: 400;
    padding: 2px 7px;
    border-radius: 3px;
    color: #007bff;
    border: 1px solid #007bff;
    background: 0 0;
}

@keyframes wave{
    0% {transform: rotate(0deg);}
    /*10%{transform: rotate(90deg);}*/
    20% {transform: rotate(90deg);}  
    /*30%{transform: rotate(90deg);}*/
    40% {transform: rotate(15deg);}
    /*50% {transform: rotate(90deg);}*/
    60% {transform: rotate(90deg);}
    /*70%{transform: rotate(90deg);}*/
    80%{transform: rotate(15deg);}
    /*90% {transform: rotate(90deg);}*/
    100% {transform: rotate(0deg);}


}

@keyframes fadeinout {
  0%,50% { opacity: 0; }
  60% { opacity: 0.2; }
  70% { opacity: 0.4; }
  80% { opacity: 0.6; }
  90% { opacity: 0.8; }
  100% { opacity: 1; }
}

@keyframes pulsate {
      0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
      }
    }


@media screen and (max-width: 1280px)
body .section, html .section {
    padding: 100px;
}